<template>
  <v-container>
    <v-row
      align="center"
      justify="center"
    >
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="name"
          :rules="nameRules"
          label="New username (optional)"
        ></v-text-field>

        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'visibility' : 'visibility-off'"
          :rules="passwordRules"
          :type="showPassword ? 'text' : 'password'"
          label="New password (optional)"
          hint="At least 8 characters"
          @click:append="showPassword = !showPassword"
        ></v-text-field>

        <v-text-field
          v-model="repeatPassword"
          :append-icon="showPassword ? 'visibility' : 'visibility-off'"
          :rules="passwordRules"
          :type="showPassword ? 'text' : 'password'"
          label="Repeat new password"
          hint="At least 8 characters"
          @click:append="showPassword = !showPassword"
        ></v-text-field>

        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail (optional)"
        ></v-text-field>

        <v-checkbox
          v-model="removeEmail"
          label="I want to remove the email address associated with my account (optional)."
          off-icon="check_box_outline_blank"
          on-icon="check_box"
        ></v-checkbox>

        <v-text-field
          v-model="currentPassword"
          :append-icon="showPassword ? 'visibility' : 'visibility-off'"
          :rules="[v => !!v || 'Password is required']"
          :type="showPassword ? 'text' : 'password'"
          label="Current password"
          hint="At least 8 characters"
          @click:append="showPassword = !showPassword"
        ></v-text-field>

        <v-btn
          class="my-4"
          :disabled="!valid"
          @click="validate"
        >
          Update credentials
        </v-btn>
      </v-form>
    </v-row>
  </v-container>
</template>
<style lang="scss" scoped>
.v-form{
  width: 90%;
}
</style>
<script lang="ts">
import Vue from 'vue'
import http from '@/http-common'
import { AxiosResponse, AxiosError } from 'axios'

export default Vue.extend({
  data: () => ({
    valid: true,
    showPassword: false,
    name: '',
    nameRules: [
      (v: string) => (!v || v.length >= 3) || 'Username must be at least 3 characters.'
    ],
    email: '',
    removeEmail: false,
    currentPassword: '',
    password: '',
    repeatPassword: '',
    agreePrivacyPolicy: false,
    showPrivacyPolicy: false
  }),
  methods: {
    validate () {
      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        http.put(`/users/${this.$store.state.user.id}`, {
          name: this.name,
          mail: this.email,
          current_pw: this.currentPassword,
          new_pw: this.password,
          remove_email: this.removeEmail
        })
          .then((response: AxiosResponse) => {
            this.$store.commit('updateUser', response.data)
            this.$emit('showSnackbar', 'Update success!')
          })
          .catch((error: AxiosError) => {
            this.$emit('showSnackbar', error.response?.data)
          })
      }
    },
    fetchData () {
      // Fetch user data first, then fetch number of bakkies
      http.get(`/users/${this.$store.state.user.id}`)
        .then((response: AxiosResponse) => {
          this.$store.commit('updateUser', response.data)
          http.get(`/users/${this.$store.state.user.id}/entries/count`)
            .then((response: AxiosResponse) => {
              this.$store.commit('setBakkies', response.data)
            })
        })
    }
  },
  computed: {
    passwordRules () {
      return [
        this.password === this.repeatPassword || 'Passwords do not match',
        (v: string) => (!v || v.length >= 8) || 'Password should be at least 8 characters.'
      ]
    },
    emailRules () {
      return [(v: string) => (this.removeEmail || !v || /.+@.+\..+/.test(v)) || 'E-mail must be valid.']
    }
  }
})
</script>
