<template>
  <v-container v-if="bakkies !== -1">
    <v-row
      align="center"
      justify="center"
    >
      <v-icon
        x-large
      >
        local_cafe
      </v-icon>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      {{ bakkies }}
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-btn
        @click="incrementBakkies"
      >
        ++
      </v-btn>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
    </v-row>
  </v-container>
</template>
<script lang="ts">
import Vue from 'vue'
import http from '@/http-common'
import { AxiosError } from 'axios'

export default Vue.extend({
  data: () => ({
  }),
  methods: {
    incrementBakkies () {
      http.post(`/users/${this.$store.state.user.id}/entries/`)
        .then(() => {
          this.$store.commit('incrementBakkies')
        }).catch((error: AxiosError) => {
          this.$emit('showSnackbar', `Something went wrong. HTTP ${error.response?.status}.`)
        })
    }
  },
  computed: {
    bakkies () {
      return this.$store.state?.bakkies
    }
  }
})
</script>
