<template>
  <v-container>
    <v-row
      dense
      justify="center"
    >
      <v-col dense>
        <v-card
          v-for="entry in entries"
          :key="entry.id"
          elevation="3"
          class="ma-2"
        >
          <v-card-title>
            <div>
              <v-icon class="ma-1">
                local_cafe
              </v-icon>
              Bakkie
            </div>
            <v-spacer />
            <div class="text-subtitle-1">
              {{ entry.ts }}
            </div>
            <v-btn
              icon
              @click="deleteEntry(entry.id)"
            >
              <v-icon>
                delete
              </v-icon>
            </v-btn>
          </v-card-title>
        </v-card>
        <v-pagination
          v-model="page"
          :length="totalPages"
          next-icon="arrow_forward"
          prev-icon="arrow_back"
          @input="fetchEntries"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts">
import Vue from 'vue'
import http from '@/http-common'
import { AxiosResponse, AxiosError } from 'axios'

export default Vue.extend({
  data: () => ({
    entries: undefined,
    totalPages: undefined,
    page: 1
  }),
  methods: {
    fetchEntries () {
      http.get(`/users/${this.$store.state.user.id}/entries/?page=${this.page}&paginate_by=10`)
        .then((response: AxiosResponse) => {
          this.entries = response.data?.entries
          this.totalPages = response.data?.totalPages
        }).catch((error: AxiosError) => {
          this.$emit('showSnackbar', `Something went wrong. HTTP ${error.response?.status}.`)
        })
    },
    deleteEntry (id: number) {
      http.delete(`/users/${this.$store.state.user.id}/entries/${id}`)
        .then(() => {
          this.fetchEntries()
          this.$emit('showSnackbar', 'Delete successful!')
        }).catch((error: AxiosError) => {
          this.$emit('showSnackbar', `Something went wrong. HTTP ${error.response?.status}.`)
        })
    }
  },
  mounted: function () {
    this.fetchEntries()
  }
})
</script>
