<template>
  <v-container>
    <v-card
      class="mx-auto text-center"
      color="secondary"
    >
      <v-card-text>
        <v-icon
          x-large
        >
          account_circle
        </v-icon>
        <div
          class="text-h4"
          v-text="'You are not logged in.'"
        />
        <v-btn
          class="mt-2"
          @click="logInDialogVisible = true"
        >
          Log In
        </v-btn>
        <br>
        <v-btn
          class="mt-2"
          @click="signUpDialogVisible = true"
        >
          Sign Up
        </v-btn>
      </v-card-text>
    </v-card>
  <LogInDialog
    :visible="logInDialogVisible"
    @close="closeLogInDialog"
    @showSnackbar="showSnackbar"
    @fetchData="fetchData"
  />
  <SignUpDialog
    :visible="signUpDialogVisible"
    @close="closeSignUpDialog"
    @showSnackbar="showSnackbar"
    @fetchData="fetchData"
  />
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import SignUpDialog from '../components/SignUpDialog.vue'
import LogInDialog from '../components/LogInDialog.vue'

export default Vue.extend({
  name: 'Home',
  components: {
    SignUpDialog,
    LogInDialog
  },
  data: () => ({
    signUpDialogVisible: false,
    logInDialogVisible: false
  }),
  methods: {
    showSnackbar (e: string) {
      this.$emit('showSnackbar', e)
    },
    closeLogInDialog (logInSuccessful: boolean) {
      if (logInSuccessful) {
        this.$emit('showSnackbar', 'Welcome!')
      }
      this.logInDialogVisible = false
    },
    closeSignUpDialog (signUpSuccessful: boolean) {
      if (signUpSuccessful) {
        this.$emit('showSnackbar', 'Welcome!')
      }
      this.signUpDialogVisible = false
    },
    fetchData () {
      this.$emit('fetchData')
    }
  }
})
</script>
