<template>
  <div class="text-center">
    <v-dialog
      v-model="visible"
      width="80vw"
      @click:outside="closeDialog"
      @keydown="closeDialog"
    >
      <v-card>
        <v-card-title class="text-h5">
          Log In
        </v-card-title>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-text-field
              v-model="name"
              :rules="nameRules"
              label="Username"
              required
            ></v-text-field>

            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'visibility' : 'visibility-off'"
              :rules="passwordRules"
              :type="showPassword ? 'text' : 'password'"
              label="Password"
              hint="At least 8 characters"
              @click:append="showPassword = !showPassword"
            ></v-text-field>

            <v-btn
              :disabled="!valid"
              @click="validate"
            >
              Log In
            </v-btn>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="closeDialog"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import http from '@/http-common'
import { AxiosError } from 'axios'

export default Vue.extend({
  props: {
    visible: {
      default: false,
      type: Boolean
    }
  },
  data: () => ({
    valid: true,
    showPassword: false,
    name: '',
    nameRules: [
      (v: string) => !!v || 'Username is required',
      (v: string) => (v && v.length >= 3) || 'Username must be at least 3 characters.'
    ],
    password: '',
    select: null
  }),
  methods: {
    closeDialog (e: KeyboardEvent) {
      if ((e.type === 'keydown' && e.key === 'Escape') || e.type === 'click') {
        this.$emit('close')
      }
    },
    validate () {
      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        http.post('/auth/login', {
          name: this.name,
          pw: this.password
        })
          .then(() => {
            this.$router.push('/bakkies/')
            this.$emit('fetchData')
            this.$emit('close')
          })
          .catch((error: AxiosError) => {
            if (error?.response?.status === 401) {
              this.$emit('showSnackbar', 'This combination of username and password is incorrect.')
            } else {
              this.$emit('showSnackbar', error.response?.data)
            }
          })
      }
    }
  },
  computed: {
    passwordRules () {
      return [
        (v: string) => !!v || 'Password is required.',
        (v: string) => v.length >= 8 || 'Password should be at least 8 characters.'
      ]
    }
  }
})
</script>
