<template>
  <div class="text-center">
    <v-dialog
      v-model="visible"
      width="80vw"
      @click:outside="closeDialog"
      @keydown="closeDialog"
    >
      <v-card>
        <v-card-title class="text-h5">
          Sign Up
        </v-card-title>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-text-field
              v-model="name"
              :rules="nameRules"
              label="Username"
              required
            ></v-text-field>

            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'visibility' : 'visibility-off'"
              :rules="passwordRules"
              :type="showPassword ? 'text' : 'password'"
              label="Password"
              hint="At least 8 characters"
              @click:append="showPassword = !showPassword"
            ></v-text-field>

            <v-text-field
              v-model="repeatPassword"
              :append-icon="showPassword ? 'visibility' : 'visibility-off'"
              :rules="passwordRules"
              :type="showPassword ? 'text' : 'password'"
              label="Repeat"
              hint="At least 8 characters"
              @click:append="showPassword = !showPassword"
            ></v-text-field>

            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail (optional)"
            ></v-text-field>

            <v-checkbox
              v-model="agreePrivacyPolicy"
              :rules="[v => !!v || 'You must agree to continue!']"
              label="I agree to the privacy policy."
              required
              off-icon="check_box_outline_blank"
              on-icon="check_box"
            ></v-checkbox>

            <a
              @click="togglePrivacyPolicy"
            >
              {{ showOrHide }} privacy policy
            </a>
            <br>
            <v-btn
              class="my-4"
              :disabled="!valid"
              @click="validate"
            >
              Sign Up
            </v-btn>
          </v-form>
          <PrivacyPolicy
            v-if="showPrivacyPolicy"
          />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="closeDialog"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import PrivacyPolicy from '../components/PrivacyPolicy.vue'
import http from '@/http-common'
import { AxiosError } from 'axios'

export default Vue.extend({
  components: {
    PrivacyPolicy
  },
  props: {
    visible: {
      default: false,
      type: Boolean
    }
  },
  data: () => ({
    valid: true,
    showPassword: false,
    name: '',
    nameRules: [
      (v: string) => !!v || 'Username is required',
      (v: string) => (v && v.length >= 3) || 'Username must be at least 3 characters.'
    ],
    email: '',
    emailRules: [
      (v: string) => (!v || /.+@.+\..+/.test(v)) || 'E-mail must be valid.'
    ],
    password: '',
    repeatPassword: '',
    agreePrivacyPolicy: false,
    showPrivacyPolicy: false
  }),
  methods: {
    togglePrivacyPolicy () {
      this.showPrivacyPolicy = !this.showPrivacyPolicy
    },
    closeDialog (e: KeyboardEvent) {
      if ((e.type === 'keydown' && e.key === 'Escape') || e.type === 'click') {
        this.$emit('close', false)
      }
    },
    validate () {
      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        http.post('/users/', {
          name: this.name,
          mail: this.email,
          pw: this.password
        })
          .then(() => {
            this.$router.push('/bakkies/')
            this.$emit('fetchData')
            this.$emit('close', true)
          })
          .catch((error: AxiosError) => {
            if (error?.response?.status === 409) {
              this.$emit('showSnackbar', 'Username is already in use.')
            } else {
              this.$emit('showSnackbar', error.response?.data)
            }
          })
      }
    }
  },
  computed: {
    showOrHide (): string {
      return this.showPrivacyPolicy ? 'Hide' : 'Show'
    },
    passwordRules () {
      return [
        this.password === this.repeatPassword || 'Passwords do not match',
        (v: string) => !!v || 'Password is required.',
        (v: string) => v.length >= 8 || 'Password should be at least 8 characters.'
      ]
    }
  }
})
</script>
