<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-if="!homePage"
      v-model="drawer"
      app
    >
    <v-list-item>
        <v-list-item-avatar
          color="red"
          size="36"
        >
          {{ userNameFirstLetter }}
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          v-for="item in drawerItems"
          :key="item.title"
          :to="item.to"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content
            :to="item.to"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          @click="logout"
        >
          <v-list-item-icon>
            <v-icon>logout</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app>
      <v-btn
        v-if="!homePage"
        icon
        @click="drawer = !drawer"
      >
        <v-icon>
          menu
        </v-icon>
      </v-btn>
      <v-toolbar-title>Bakkiecounter</v-toolbar-title>
      <v-spacer/>
        <v-btn
          text
          @click="aboutDialogVisible = true"
        >
          About
        </v-btn>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-sheet
          v-if="!loaded"
          color="grey"
          class="pa-3"
        >
          <v-skeleton-loader
            class="mx-auto"
            type="card"
          ></v-skeleton-loader>
        </v-sheet>
        <router-view
          v-else
          @showSnackbar="showSnackbar"
          @fetchData="fetchData"
        />
      </v-container>
      <v-snackbar
        v-model="snackbar"
      >
        {{ snackbarText }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="red"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
      <AboutDialog
        :visible="aboutDialogVisible"
        @close="aboutDialogVisible = false"
      />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import AboutDialog from './components/AboutDialog.vue'
import http from '@/http-common'
import { AxiosResponse, AxiosError } from 'axios'

export default Vue.extend({
  components: {
    AboutDialog
  },
  name: 'App',
  data: () => ({
    snackbar: false,
    snackbarText: '',
    aboutDialogVisible: false,
    drawer: null,
    loaded: false
  }),
  computed: {
    drawerItems () {
      return [
        { title: 'Bakkies', icon: 'local_cafe', to: '/bakkies/' },
        { title: 'Log', icon: 'list', to: '/log/' },
        { title: 'Friends', icon: 'people', to: '/friends/' },
        { title: 'Account', icon: 'account_circle', to: '/account/' }
      ]
    },
    user () {
      return this.$store.state.user
    },
    userNameFirstLetter () {
      return this.$store.state.user?.name?.charAt(0)
    },
    homePage () {
      return this.$route.path === '/'
    }
  },
  methods: {
    showSnackbar (text: string) {
      // Delete snackbar first so that the timeout will be reset
      this.snackbar = false
      this.snackbar = true
      this.snackbarText = text
    },
    logout () {
      http.post('/auth/logout')
        .then(() => {
          this.$router.push('/')
          this.$store.commit('updateUser', {
            id: undefined,
            mail: undefined,
            name: undefined,
            active: undefined
          })
        })
        .catch((error: AxiosError) => {
          this.showSnackbar(error.response?.data)
        })
    },
    fetchData () {
      // Fetch user id first, then data, then number of bakkies
      http.get('/userid/')
        .then((response: AxiosResponse) => {
          this.$store.commit('updateUserId', response.data)
          if (this.$route.fullPath === '/') {
            this.$router.push('/bakkies')
          }
          this.loaded = true
          http.get(`/users/${this.$store.state.user.id}`)
            .then((response: AxiosResponse) => {
              this.$store.commit('updateUser', response.data)
            })
          http.get(`/users/${this.$store.state.user.id}/entries/count`)
            .then((response: AxiosResponse) => {
              this.$store.commit('setBakkies', response.data)
            })
        })
        .catch(() => {
          this.loaded = true
        })
    }
  },
  mounted () {
    this.fetchData()
  }
})
</script>
